ADDA/.idea/
data_factory/__pycache__/dataset_utils.cpython-35.pyc
data_factory/__pycache__/dataset_factory.cpython-35.pyc
data_factory/__pycache__/mnist_m.cpython-35.pyc
data_factory/__pycache__/mnist.cpython-35.pyc
data_factory/__pycache__/__init__.cpython-35.pyc
*.tfrecord
ADDA/__pycache__/
.idea/
dataset
